<%- include('partials/header') %>

<header>
  <div class="work">
    <img src="" alt="" />
  </div>
  <div class="heading">
    <h2>Mehmet Öztürk JobTracking System</h2>
    <a class="btn" href="/works">View Jobs</a>
  </div>
</header>
<%- include('partials/footer') %>
